$text-inputs-colors-support-parser: (
    outline-color: null,
    border-color: null,
    background-color: null,
    color: color,
    focus-outline-color: null,
    focus-border-color: color,
    focus-background-color: null,
    focus-color: null,
    disabled-border-color: null,
    disabled-background-color: null,
    disabled-color: null,
    placeholder-color: null
) !default;

$text-inputs-colors-support-extra-colors-palette: () !default;
$text-inputs-colors-support-skip-colors-palette: null !default;

//Datalist
$text-inputs-datalist-colors-support-parser: (
    border-color: color
) !default;
